### 1. Tampilkan Dataset Housing in Boston ke Dalam DataFrame

In [1]:
import pandas as pd
df = pd.read_csv("housing2.csv", names=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 
                                        'PTRATIO', 'B', 'LSTAT', 'MDEV'])
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MDEV
0,0.00632 18.00 2.310 0 0.5380 6.5750 65...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.02731 0.00 7.070 0 0.4690 6.4210 78...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.02729 0.00 7.070 0 0.4690 7.1850 61...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.03237 0.00 2.180 0 0.4580 6.9980 45...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.06905 0.00 2.180 0 0.4580 7.1470 54...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263 0.00 11.930 0 0.5730 6.5930 69...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,0.04527 0.00 11.930 0 0.5730 6.1200 76...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
503,0.06076 0.00 11.930 0 0.5730 6.9760 91...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
504,0.10959 0.00 11.930 0 0.5730 6.7940 89...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
505,0.04741 0.00 11.930 0 0.5730 6.0300 80...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
import pandas as pd

# membaca file CSV dan memasukannya ke dalam DataFrame
df = pd.read_csv('housing2.csv', header=None, delim_whitespace=True)

# menambahkan nama kolom
df.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT', 'MEDV']

# menampilkan DataFrame
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [4]:
import numpy as np
#memeriksa dimensi data
np.shape(df)

(506, 14)

In [5]:
#memeriksa jenis data setiap variabel
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS         int64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD          int64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
MEDV       float64
dtype: object

In [6]:
#mengubah jenis data kategorikal pada variabel CHAS
df["CHAS"] = df["CHAS"].astype('category')
df.dtypes

CRIM        float64
ZN          float64
INDUS       float64
CHAS       category
NOX         float64
RM          float64
AGE         float64
DIS         float64
RAD           int64
TAX         float64
PTRATIO     float64
B           float64
LSTAT       float64
MEDV        float64
dtype: object

In [7]:
#melihat deskripsi data secara statistik
df.describe()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,3.677083,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [8]:
#melihat beberapa banyak nilai 1 dan 0 pada variabel CHAS
df['CHAS'].value_counts()

0    471
1     35
Name: CHAS, dtype: int64

### 2. Memeriksa Tahapan Pre-Processing Data

In [9]:
#memeriksa missing value setiap variabel
df.isnull().any()

CRIM       False
ZN         False
INDUS      False
CHAS       False
NOX        False
RM         False
AGE        False
DIS        False
RAD        False
TAX        False
PTRATIO    False
B          False
LSTAT      False
MEDV       False
dtype: bool

In [10]:
#transforming variabel prediktor dengan metode MinMaxScaler
from sklearn import preprocessing
transformasi_min_max=preprocessing.MinMaxScaler()
data_norm = transformasi_min_max.fit_transform(df)
data_norm

array([[0.00000000e+00, 1.80000000e-01, 6.78152493e-02, ...,
        1.00000000e+00, 8.96799117e-02, 4.22222222e-01],
       [2.35922539e-04, 0.00000000e+00, 2.42302053e-01, ...,
        1.00000000e+00, 2.04470199e-01, 3.68888889e-01],
       [2.35697744e-04, 0.00000000e+00, 2.42302053e-01, ...,
        9.89737254e-01, 6.34657837e-02, 6.60000000e-01],
       ...,
       [6.11892474e-04, 0.00000000e+00, 4.20454545e-01, ...,
        1.00000000e+00, 1.07891832e-01, 4.20000000e-01],
       [1.16072990e-03, 0.00000000e+00, 4.20454545e-01, ...,
        9.91300620e-01, 1.31070640e-01, 3.77777778e-01],
       [4.61841693e-04, 0.00000000e+00, 4.20454545e-01, ...,
        1.00000000e+00, 1.69701987e-01, 1.53333333e-01]])

### 3. Melakukan Pemodelan Data dengan Regresi

In [42]:
#membagi data menjadi variabel target dan atribut
target = 'MEDV'
x = df.drop('MEDV', axis=1)
y = df[target]
nama_var_x=['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']
x = pd.DataFrame(data=transformasi_min_max.fit_transform(x), columns=nama_var_x)

In [43]:
#membagi data menjadi data training (75%) dan data testing (25%)
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, random_state=1)

In [45]:
#memodelkan data dengan regresi linier
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

lin_model = LinearRegression()
lin_model.fit(x_train, y_train)

LinearRegression()

In [47]:
#transformasi variabel menjadi polinomial
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import PolynomialFeatures

polynomial_features = PolynomialFeatures(degree=2)
x_poly = polynomial_features.fit_transform(x_train)
poly_model =  LinearRegression()
poly_model.fit(x_poly, y_train)
x_poly_test = polynomial_features.fit_transform(x_test)

In [48]:
from sklearn.linear_model import Ridge

#model ridge dengan alpha = 1
model_ridge = Ridge(alpha=1)
model_ridge.fit(x_train, y_train)

Ridge(alpha=1)

In [49]:
from sklearn.linear_model import Lasso

#model lasso dengan alpha = 1
model_lasso = Lasso(alpha=1)
model_lasso.fit(x_train, y_train)

Lasso(alpha=1)

### 4. Melakukan Evaluasi Data Testing dengan Regresi

#### Regresi Linier

In [51]:
#evaluasi model untuk data training
y_train_predict = lin_model.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict)))
r2 = r2_score(y_train, y_train_predict)

print("Performa model untuk data training adalah")
print("-----------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model untuk data training adalah
-----------------------------------------
RMSE adalah 4.74109521333182
R2 adalah 0.7168057552393374

In [52]:
#evaluasi model untuk data testing
y_test_predict = lin_model.predict(x_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_predict)))
r2 = r2_score(y_test, y_test_predict)

print("Performa model untuk data testing adalah")
print("-----------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model untuk data testing adalah
-----------------------------------------
RMSE adalah 4.679504823808766
R2 adalah 0.7789410172622857

#### Polynomial

In [54]:
#evaluasi model untuk data training
y_train_predict_poly = poly_model.predict(x_poly)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict_poly)))
r2 = r2_score(y_train, y_train_predict_poly)

print("Performa model polinomial derajat 2 untuk data training adalah")
print("--------------------------------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model polinomial derajat 2 untuk data training adalah
--------------------------------------------------------------
RMSE adalah 2.3884801430883575
R2 adalah 0.9281262443260946

In [55]:
#evaluasi model untuk data testing
y_test_predict_poly = poly_model.predict(x_poly_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_predict_poly)))
r2 = r2_score(y_test, y_test_predict_poly)

print("Performa model polinomial derajat 2 untuk data testing adalah")
print("--------------------------------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model polinomial derajat 2 untuk data testing adalah
--------------------------------------------------------------
RMSE adalah 3.2064551665746817
R2 adalah 0.8962092351509648

#### Regresi Ridge

In [56]:
#evaluasi model untuk data training
y_train_predict_ridge = model_ridge.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict_ridge)))
r2 = r2_score(y_train, y_train_predict_ridge)

print("Performa model ridge data training adalah")
print("-----------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model ridge data training adalah
-----------------------------------------
RMSE adalah 4.782005164075682
R2 adalah 0.711897418078324

In [58]:
#evaluasi model untuk data testing
y_test_predict_ridge = model_ridge.predict(x_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_predict_ridge)))
r2 = r2_score(y_test, y_test_predict_ridge)

print("Performa model ridge data testing adalah")
print("-----------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model ridge data testing adalah
-----------------------------------------
RMSE adalah 4.80738955023094
R2 adalah 0.7666934139219953

#### Regresi Lasso

In [59]:
#evaluasi model untuk data training
y_train_predict_lasso = model_lasso.predict(x_train)
rmse = (np.sqrt(mean_squared_error(y_train, y_train_predict_lasso)))
r2 = r2_score(y_train, y_train_predict_lasso)

print("Performa model lasso data training adalah")
print("-----------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model lasso data training adalah
-----------------------------------------
RMSE adalah 7.8082979577199225
R2 adalah 0.2318609864622151

In [60]:
#evaluasi model untuk data testing
y_test_predict_lasso = model_lasso.predict(x_test)
rmse = (np.sqrt(mean_squared_error(y_test, y_test_predict_lasso)))
r2 = r2_score(y_test, y_test_predict_lasso)

print("Performa model lasso data testing adalah")
print("-----------------------------------------")
print("RMSE adalah {}".format(rmse))
print("R2 adalah {}".format(r2))

Performa model lasso data testing adalah
-----------------------------------------
RMSE adalah 8.915596607334674
R2 adalah 0.19756624536495337

### 5. Membandingkan Performa Model Masing-Masing Algoritma

In [64]:
!pip install tabulate
from tabulate import tabulate

Collecting tabulate
  Downloading tabulate-0.9.0-py3-none-any.whl (35 kB)
Installing collected packages: tabulate
Successfully installed tabulate-0.9.0

In [69]:
#membuat tabel untuk membandingkan performa model algoritma

info = {'Algoritma': ['Regresi Linier', 'Regresi Polinomial', 'Regresi Ridge', 'Regresi Lasso'], 'R-Square': [0.779, 0.896, 0.712, 0.198], 'RMSE': [4.6795, 3.2064, 4.7820, 8.916]}
print(tabulate(info, headers='keys', tablefmt='fancy_grid', showindex=range(1,5)))

╒════╤════════════════════╤════════════╤════════╕
│    │ Algoritma          │   R-Square │   RMSE │
╞════╪════════════════════╪════════════╪════════╡
│  1 │ Regresi Linier     │      0.779 │ 4.6795 │
├────┼────────────────────┼────────────┼────────┤
│  2 │ Regresi Polinomial │      0.896 │ 3.2064 │
├────┼────────────────────┼────────────┼────────┤
│  3 │ Regresi Ridge      │      0.712 │ 4.782  │
├────┼────────────────────┼────────────┼────────┤
│  4 │ Regresi Lasso      │      0.198 │ 8.916  │
╘════╧════════════════════╧════════════╧════════╛

### 6. Membuat Kesimpulan

Dari beberapa perhitungan menggunakan macam-macam algoritma machine learning parametrik yakni regresi linier, regresi polinomial, dan regresi ridge menghasilkan evaluasi R-Squared dengan interval 0.7-0.9 yang menyatakan bahwa kualitas model sangat cocok. Sedangkan dengan evaluasi regresi lasso menghasilkan nilai R-Squared sebesar 0.198 yang menyatakan bahwa kualitas model tidak cocok sehingga metode algoritma Regresi Lasso tidak cocok. Selain itu, dengan hasil keempat metode regresi di atas menghasilkan nilai R-Squared untuk data testing dan data training tidak beda jauh sehingga data tidak mengalami underfitting maupun overfitting.

Sehingga disimpulkan bahwa metode terbaik yang dapat dilakukan untuk memprediksi value rata-rata rumah di perumahan Boston adalah Metode Regresi Polynomial dengan derajat 2 dikarenakan menghasilkan nilai RMSE terendah dan nilai R-Squared tertinggi sehingga model mampu memberikan performa yang baik.